.subscribe
    .subscribe__title Дарим 100 грн за подписку на наши новости
    form.subscribe__form(action='')
        input.input.input_email.input_theme_gray(placeholder='Введите свой e-mail')
        button.button.button_type_submit.button_theme_gray.button_subscribe_submit(role='button', type='submit')
            span.button__text Отправить
    .subscribe__security Ваши дан-м лицам