.header
    .header__overlay-video
        .header__overlay-video-frame
            .header__overlay-video-control
                .header__overlay-video-exit
            iframe(width="560" height="315" src="https://www.youtube.com/embed/2rni-sUkFAg" frameborder="0" allowfullscreen)
    .header__panel
        .header__panel-logo LedCross
        .header__panel-title
            h1 Светящиеся кроссовки’’LedCross’’
        .header__panel-contact
            | +38 (094) 710-30-49
            br
            |  Ежедневно с 9:00 до 20:00
    .header__overlay
        .header__overlay-tagline
            h2 Выдели свою индивидуальность
        .header__overlay-suitable
            ul
                | Идеально подходят для:
                li -Танцпола
                li -Вечерних прогулок
                li -Занятий спортом
                li -Катания на велосипеде
            .header__watch-video
                button.button.button_theme_red(role='button', type='button')
                    i.icon.icon_youtube
                    span.button__text Смотреть видео