.product-item.grid__col.grid__col--1-of-3
    .product-item_scale
        .product-item_scale__min-images
            img(src='blocks/product-item/product-item_scale/img/ledcross_001.png', alt='LedCross Низкие Белые')
            img(src='blocks/product-item/product-item_scale/img/ledcross_002.png', alt='LedCross Низкие Белые')
            img(src='blocks/product-item/product-item_scale/img/ledcross_003.png', alt='LedCross Низкие Белые')
            img(src='blocks/product-item/product-item_scale/img/ledcross_004.png', alt='LedCross Низкие Белые')
            img(src='blocks/product-item/product-item_scale/img/ledcross_005.png', alt='LedCross Низкие Белые')
            img(src='blocks/product-item/product-item_scale/img/ledcross_006.png', alt='LedCross Низкие Белые')
        .product-item__img
            img(src='img/product-item__img/ledcross_001.png', alt='LedCross Низкие Белые')
        .product-item__price
            .product-item__sale 1399 грн
            .product-item__price-now
                del
                    span 1599 грн
        .product-item__descr
            .product-item__title LedCross
            .product-item__detail Низкие "Белые"
        .product-item__descr_scale
            .product-item__descr_scale__material-top Материал(верх): Экокожа
            .product-item__descr_scale__material-bottom Материал(подошва): Полиуретан
            .product-item__descr_scale__sex Пол: Унисекс
            .product-item__descr_scale__battety Тип питания: Li-ion аккумулятор 450 mAh
            .product-item__descr_scale__time-charge Время зарядки: ~ 3 часа
            .product-item__descr_scale__time-work Время работы: до 10 часов
            .product-item__descr_scale__light Цветовая палитра подсветки: 7 цветов + 4 режима
            .product-item__descr_scale__color Цвет: Американский флаг
            .product-item__descr_scale__season Сезон: Демисезонные
            .product-item__descr_scale__complitation Комплектация: Кроссовки, шнур для зарядки
            .product-item__descr_scale__size Размер: 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45
        .product-item__order_scale
            button.button.button_type_submit.button_theme_green.button_order_submit(role='button', type='submit')
                span.button__text Заказать